dist
*.csv
*.jsonlines
*.log
*.out
*.pem
*.pyc
*.rdb
*.tgz
*.xml
*.txt
.DS*
*.xls
*.xlsl
.idea
build
dbs
dev.py
eggs
*.egg-info
tempfile
tempfile/*
twisted*
__pycache__
*/dist
*.ini
*.cookies
*.user
jd.cookies
bd_crwaler/__pycache__
